@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth; /* Kunci agar scroll #fitur dsb jadi halus */
  }
  
  body {
    @apply bg-gray-50 text-gray-800 font-sans antialiased;
  }
}

/* Animasi Masuk Halaman */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-enter {
  animation: fadeIn 0.4s ease-out forwards;
}